{% extends 'base.html.twig' %}

{% block title %} Welcome !{% endblock %}
{% block body %}
    <div class="epl" id="app">
        <app></app>
        {{ name }}
        {{ played }}
        {{ won }}
        {{ draw }}
        {{ lost }}
        {{ goalsfor }}
        {{ goalsagainst }}
        {{ cresturl }}
        {{ points }}

    </div>
{% endblock %}
